<!doctype html>
<html>
	<head>
		<title>Etherpad dashboard</title>

		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<link rel="shortcut icon" href="favicon.ico">

		<link rel="localizations" type="application/l10n+json" href="locales.json">
		<script type="text/javascript" src="../static/js/html10n.js"></script>
		<script type="text/javascript" src="../static/js/l10n.js"></script>

		
		<link href="../static/plugins/ep_maadix/static/css/custom.css" rel="stylesheet"> 
	</head>
	<body>
	<header>
		<div class="header-block header-block-buttons">
			<a class="btn btn-sm header-btn" href="/dashboard">My Groups</a> | 
			<a class="btn btn-sm header-btn">My Pads</a> | 
			<a class="btn btn-sm header-btn">My Profile</a> 
		</div>
	        <div class="header-block header-block-nav">
				<span class="name"></span> | <a class="dropdown-item" href="/logout">Logout</a>
		</div>

	</header>	
               <article class="content items-list-page">
                    <div class="title-search-block">
                        <div class="title-block">
                            <div class="row">
				<div class="col-md-6">
					<h2 lang="en" class="middleArea"><%= msg %></h2>
				</div>
			    </div>	
			</div>
		</div>
	</article>

	</body>	
</html>

