<!doctype html>
<html>
  <head>
    <title data-l10n-id="admin_settings.page-title">Groups</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/css/admin.css">
    <script src="../../../static/js/vendors/jquery.js"></script>
    <script src="../../../socket.io/socket.io.js"></script>
    <script src="../../../static/js/socketio.js"></script>
    <link rel="localizations" type="application/l10n+json" href="../../../locales.json" />
    <script src="../../../static/js/vendors/html10n.js"></script>
    <script src="../../../static/js/l10n.js"></script>
    <script src="../../../static/plugins/ep_maadix/static/js/admin/commons.js"></script>
    <script src="../../../static/plugins/ep_maadix/static/js/admin/users.js"></script>
    <link rel="stylesheet" href="../../../static/plugins/ep_maadix/static/css/useradministration.css" type="text/css" />
  </head>
  <body>
    <div id="wrapper">

      <% if (errors.length) { %>
        <div class="errors">
          <% errors.forEach(function (item) { %>
            <div class="error"><%= item.toString() %></div>
          <% }) %>
        </div>
      <% } %>


      <div class="menu">
        <h1><a href="../">Etherpad</a></h1>
        <ul>
          <% e.begin_block("adminMenu"); %>
          <li><a href="../plugins" data-l10n-id="admin_plugins">Plugin manager</a></li>
          <li><a href="../settings" data-l10n-id="admin_settings">Settings</a></li>
          <li><a href="../plugins/info" data-l10n-id="admin_plugins_info">Troubleshooting information</a></li>
          <% e.end_block(); %>
        </ul>
      </div>

      <div class="innerwrapper">
	  <div id="header">
	    <ul id="maadix_menu">
	      <li><a href="../userpadadmin">Settings</a></li>
	      <li><a href="groups">Manage groups</a></li>
	      <li><a href="users">Manage users</a></li>
	    </ul>
	  </div>
	    <h3>Invite a new user </h3>
	    <h5>Iviting a user will  send an email to the new user with an activation link</h5>
	    <div>
		    <form name="Add user" id="add-user">
			    <input type="text" placeholder="E-mail of new user" id="name-of-user">
			    <input type="button" value="Create" id="addUserButton">
			    <a id="textfield-user"></a>
		    </form>
	    </div>
	    <h3>User list</h3>
	    <div class="rightwrapper">
		    <div class='user-results-div'>
		    <table>
			    <thead>
				    <tr>
					    <th class="header" data-label="Id">ID<a class="sort up"></a><a class="sort down"></a></th>
					    <th class="header" data-label="user-name">User Name<a class="sort up"></a><a class="sort down"></a></th>
					    <th class="header" data-label="user-email">User Email<a class="sort up"></a><a class="sort down"></a></th>
					    <th class="header" data-label="#groups">#Groups<a class="sort up"></a><a class="sort down"></a></th>
					    <th class="header" data-label="actions">Actions</th>
				    </tr>
			    </thead>
			    <tbody class='user-results'></tbody>
			    <tbody class="template">
				    <tr>
					    <td class="ID" data-label="Id"></td>
					    <td class="Name" data-label="name"></td>
					    <td class="Email" data-label="email"></td>
					    <td class="Groups" data-label="groups"></td>
					    <td class="actions" data-label="Actios">
						    <input class="newPWButton confimr" type="button" value="Send new password">
						    <span class="success"></span>
						    <input class="setActiveBtn confirm" type="button" value="Active">
						    <input class="deleteButton confirm" type="button" value="Delete">
					    </td>
				    </tr>
			    </tbody>
		    </table>
		    </div>
	    </div>

      <div class="innerwrapper-err" >
        <h2 class="err-message"></h2>
      </div>

    </div>
  <div style="display:none"><a href="/javascript" data-jslicense="1">JavaScript license information</a></div>
  </body>
</html>
