<!doctype html>
<html>
  <head>
    <title data-l10n-id="admin_settings.page-title">Groups</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/css/admin.css">
    <script src="../../../static/js/vendors/jquery.js"></script>
    <script src="../../../socket.io/socket.io.js"></script>
    <script src="../../../static/js/socketio.js"></script>
    <link rel="localizations" type="application/l10n+json" href="../../../locales.json" />
    <script src="../../../static/js/vendors/html10n.js"></script>
    <script src="../../../static/js/l10n.js"></script>
    <script src="../../../static/plugins/ep_maadix/static/js/admin/commons.js"></script>
    <script src="../../../static/plugins/ep_maadix/static/js/admin/user.js"></script>
    <link rel="stylesheet" href="../../../static/plugins/ep_maadix/static/css/useradministration.css" type="text/css" />
  </head>
  <body>
    <div id="wrapper">

      <% if (errors.length) { %>
        <div class="errors">
          <% errors.forEach(function (item) { %>
            <div class="error"><%= item.toString() %></div>
          <% }) %>
        </div>
      <% } %>


      <div class="menu">
        <h1><a href="../">Etherpad</a></h1>
        <ul>
          <% e.begin_block("adminMenu"); %>
          <li><a href="../../plugins" data-l10n-id="admin_plugins">Plugin manager</a></li>
          <li><a href="../../settings" data-l10n-id="admin_settings">Settings</a></li>
          <li><a href="../../plugins/info" data-l10n-id="admin_plugins_info">Troubleshooting information</a></li>
          <% e.end_block(); %>
        </ul>
      </div>

      <div class="innerwrapper">
	  <div id="header">
	    <ul id="maadix_menu">
		<li><a href="../../userpadadmin">Settings</a></li>
		<li><a href="../groups">Manage groups</a></li>
		<li><a href="../users">Manage users</a></li>
	    </ul>
	  </div>
	  <h2>User <span id="userName"></span></h2>

	  <div id="GroupBox" class="white_content">
		  <a href = "javascript:void(0)" onclick = "document.getElementById('GroupBox').style.display='none'
			  ;document.getElementById('fade').style.display='none'">
			  <span class="close-btn" >X
			  </span>
		  </a>
		  <div class="whitebox-result-div">
			  <table class="groupResultTable">
				  <thead id="tableGroupBoxHead">
					  <tr>
						  <th data-label="id">ID</th>
						  <th data-label="name">Group Name</th>
					  </tr>
				  </thead>
				  <tbody class="results" id="resultGroupLightbox"></tbody>
				  <tbody class="template">
					  <tr>
						  <td class="id" data-label="id"></td>
						  <td class="name" data-label="groupname"></td>
					  </tr>
				  </tbody>
			  </table>
		  </div>
	  </div>	
	  <div id="fade" class="black_overlay"></div>
	  <div>
		  <div class="lefttable">
			  <p>This user is in the following groups:</p>
			  <div class='group-results-div'>
				  <table>
					  <thead>
						  <tr>
							  <th class="header" data-label="group-id">ID<a class="sort up"></a><a class="sort down"></a></th>
							  <th class="header" data-label="group-name">Group Name<a class="sort up"></a><a class="sort down"></a></th>
							  <th class="header" data-label="escape">Remove from group</th>
						  </tr>
					  </thead>
					  <tbody class='group-results'></tbody>
					  <tbody class="template">
						  <tr>
							  <td class="ID" data-label="Id"></td>
							  <td class="Name" data-label="name"></td>
							  <td class="delete" data-label="escape"><input class="escapeButton" type="button" value="Remove"></td>
						  </tr>
					  </tbody>
				  </table>
			  </div>
		  </div>
		  <div class="righttable">
			  <form name="Add Group" id="add-group">
				  <input type="button" value="Add user to a new group" id="addGroupButton">
				  <a id="textfield-group"></a>
			  </form>
		  </div>
	  </div>
	  <div class="innerwrapper-err" >
		  <h2 class="err-message"></h2>
	  </div>

    </div>
<div style="display:none"><a href="/javascript" data-jslicense="1">JavaScript license information</a></div>
</body>
</html>
